PORT=4000
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DATABASE=coldguard
MQTT_ENABLED=true
MQTT_PROTOCOL=wss
MQTT_HOST=mqtt-dashboard.com
MQTT_PORT=8884
MQTT_URL=
MQTT_PATH=/mqtt
MQTT_CLIENT_ID=coldguard-bridge-do8nUGf8ZY
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_KEEPALIVE=60
MQTT_CLEAN_SESSION=true
MQTT_TOPIC=smartcooler/data
